# Operators in python

## Arithmetic Operators in Python
Basic arithmetic operations in Python. Read more on data conversion and coercion [here](https://medium.com/analytics-vidhya/python-fundamentals-for-everybody-type-conversion-vs-type-coercion-34234e99c9c4).

1. Addition Operator `x+y`

In [30]:
5+8.3

13.3

2. Substraction Operator `x-y`

In [31]:
50.-46

4.0

3. Multiplication Operator `x*y`

In [32]:
40*12

480

4. Dividend Operator `x/y`

In [33]:
48/4

12.0

5. Modulus Operator `x%y`

In [34]:
763%21

7

6. Exponent Operator `x**y`

In [35]:
7.1**2.1

61.32570256497721

7. Floor Division Operator `x//y`

In [36]:
734//23

31

# Assignment Operators
Assignment operators are used to assign a value to the variable.

1. Equals to Operator `=`

In [37]:
x = 7
y = 3.65

2. Add Equal to Operator `x+=y`, equivalent to `x=x+y`

In [38]:
x = 7
y = -3
x+=y
x

4

3. Substract Equal to Operator `x-=y`, equivalent to `x=x-y`

In [39]:
x = 15
y = 13
x-=y
x

2

4. Mutliply Equal to Operator `x*=y`, equivalent to `x=x*y`

In [40]:
x = 11
y = -7
x*=y
x

-77

5. Divide Equal to Operator `x/=y`, equivalent to   `x=x/y`

In [41]:
x = 32
y = 3
x/=y
x

10.666666666666666

6. Modulus Equal to Operator `x%=y`, equivalent to `x=x%y`

In [42]:
x = 132
y = 9
x%=y
x

6

7. Exponent Equal to Operator `x**=y`, equivalent to `x=x**y`

In [43]:
x = 4
y = 2
x**=y
x

16

8. Floor Equal to Operator `x//=y`, equivalent to `x=x/y`

In [44]:
x = 123
y = 3.2
x//=y
x

38.0

## Comparison Operators

Resulting in a Boolean value, which can be either True or False.

1. Equal to Operator `x==y`

In [45]:
x = 7
y = 6
x==y

False

2. Not Equal to Operator `x!=y`

In [46]:
x = 8
y = 8
x!=y

False

3. Greater than and less than Operators, `x>y`, `x<y`

In [47]:
x = 34
y = 12
x>y

True

In [48]:
x = 87
y = 10
x<y

False

4. Greater/less than or equal to Operators, `x>y`, `x<y`

In [49]:
x = 76
y = 36
x>=y

True

In [50]:
x = 87
y = 76
x<=y

False

# Logical Operators, `AND`, `OR`, `NOT`

Used to combine conditional statements.

1. AND Operator
And operator Returns True if both statements are true.

In [51]:
x = 3
x<12 and x>-2

True

In [52]:
x = 7
x<12 or x>20

True

In [53]:
a = True
not a

False

# Identity operators `is` and `is not`
They compare the memory locations of two objects

In [54]:
x = 13
y = 13
x is y

True

In [55]:
z = 15
y is z

False

In [56]:
y is not z

True

# Membership operators `in` and `not in`

In [57]:
l = (1, 4, 'a', True)
3 in l

False

In [58]:
True in l

True

In [59]:
3 not in l

True